body {
  background-color: rgb(248, 255, 255);
  font-size: 125%;
}

.main {
  vertical-align: middle;
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  padding: 30px;
  background-color: rgb(224, 240, 248);
  width: 900px;
  align-items: center;
  align-content: center;
  text-align: center;
  direction: ltr;
  margin: auto;
}

p {
  text-align: left;
}
table,
th,
td {
  border: 2px solid black;
  border-collapse: collapse;
  padding: 8px;
  margin: auto;
}

th {
  background-color: rgb(146, 208, 240);
}

img {
  width: 200px;
  height: min-content;
}

nav {
  background-color: rgb(160, 221, 252);
}

a {
  text-decoration: none;
  color: black;
}
